* {
    font-family: "Courier New", Tahoma, monospace;
}

h1 {
    color: blue;
    text-align: center;
    padding: 16px;
    background: darkcyan;
    margin: 16px auto;
    border: rebeccapurple solid 3px;
}

ul {
    background-color: aqua;
    margin-top: 0;
    border: solid 3px midnightblue;
}

li {
    color: midnightblue;
    padding: 8px;
    border: 2px dotted indigo;
    background-color: deepskyblue;
}

.descrip {
    text-align: center;
    font-size: 36px;
}

.list {
    color: cyan;
    text-align: right;
    background-color: cadetblue;
}

.steps {
    background-color: blanchedalmond;
    font-weight: lighter;
}

.steps#beans {
    color: brown;
    font-family: Tahoma, monospace;
}

.steps#coleslaw {
    color: burlywood;
    font-family: Arial, sans-serif;
}

.steps#macaroni {
    color: cornsilk;
    font-family: Georgia, fantasy;
}

ol {
    background-color: cornflowerblue;
    border: 3px dotted black;
}
